API_KEY=AIzaSyC0zvUNn7IrlQ4VBGCt2-qVxXyex_xvFHU
AUTH_DOMAIN=userauthentication-2325c.firebaseapp.com
PROJECT_ID=userauthentication-2325c
STORAGE_BUCKET=userauthentication-2325c.firebasestorage.app
MESSAGING_SENDER_ID=13418654338
APP_ID=1:13418654338:web:efc9b7f5ec39933e51629b
MEASUREMENT_ID= G-7V7GQF2R4M



MONGODB_URI='mongodb://localhost:27017/EmployeeDB'

JWT_SECRET='secret#text'
NODE_ENV='development'

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="mekdesa2112@gmail.com"
SMTP_PASS="kkwt rmqb oabq yfot"  
SENDER_EMAIL="devTeam@gmail.com"
